# Project Path 
export __P_PROJECT_PATH=$HOME/dev/

export HISTCONTROL=ignoredups
#export HISTSIZE=10000

# JAVA 
export JAVA_7_HOME=$(/usr/libexec/java_home -v1.7)
export JAVA_8_HOME=$(/usr/libexec/java_home -v1.8)
export JAVA_13_HOME=$(/usr/libexec/java_home -v13)
export JAVA_HOME=$JAVA_8_HOME
export PATH=$JAVA_HOME/bin:$PATH

# Docker Compose Timeout 
export COMPOSE_HTTP_TIMEOUT=30000

# GOPATH 
export GOPATH=$HOME/go

